.hero-shop-btn {
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in-out;
    span{
        background-color: #764abc;
        transform: translateX(-100%);
        transition: all 1s ease-in-out;

    }
  }

  .hero-shop-btn:hover{
    color: white;
    border: 1xp solid white;
    span{
        transform: translateX(0);
    }
  }
  
  /* .shop-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #764abc;
    transition: transform 1s ease-in-out;
    z-index: -1;
    transform: translateX(-100%);
  }
  
  .shop-btn:hover::before {
    transform: translateX(0);
  } */

  

.container-one:hover .icon-left {
  display: unset;
}

.container-one:hover .icon-right {
  display: unset;
}

/* .product-one{
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}
.product-one::before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../assets/1.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(100%);
    transition: all 1s ease-in-out;
    z-index: -1;

}
.product-one:hover::before{
    transform: translate(0);
    z-index: 1;
   
}
.product-one:hover{
    .icon{
        opacity: 100;
        filter: brightness(1);
    }
}
.product-one::after{
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../assets/7.jpg);
    background-position: center;
    background-size: cover;
    transform: translate(0);
    transition: all 1s ease-in-out;
    z-index: -1;

}
.product-one:hover::after{
    transform: translate(-100%);
    z-index: 1;
   
} */

.hover-image1 {
  z-index: 2;
}
.hover-image2 {
  transform: translateX(100%);
  z-index: 1;
}

.product-one {
  .cart,
  .eye {
    opacity: 0.5;
    filter: brightness(0.5);
    display: none;
    transition: transform 1s ease-in-out;
  }
}
.product-one:hover {
  .hover-image1 {
    transform: translateX(-100%);
  }
  .hover-image2 {
    transform: translateX(0);
  }

  .cart,
  .eye {
    display: block;
    opacity: 1;
    filter: brightness(1);
  }
}
