@import url("https://fonts.cdnfonts.com/css/helvetica-neue-5");
@import "tailwindcss";

:root {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  font-size: 17px;
  font-weight: 300;
}
